body{
    background: #EAD6EE;
    background: -moz-linear-gradient(-45deg, #EAD6EE 0%, #EAD6EE 18%, #A0F1EA 100%);
    background: -webkit-linear-gradient(-45deg, #EAD6EE 0%, #EAD6EE 18%, #A0F1EA 100%);
    background: linear-gradient(135deg, #EAD6EE 0%, #EAD6EE 18%, #A0F1EA 100%);
    display:grid;
    grid-template-columns: 100%;
    font-family: 'Montserrat', sans-serif;
}



div#total{
    width: 90%;
    margin: 20px;
    padding: 20px;
    padding-right: 20px;
    background: #EAD6EE;
    background: -moz-linear-gradient(-45deg, #EAD6EE 0%, #EAD6EE 18%, #A0F1EA 100%);
    background: -webkit-linear-gradient(-45deg, #EAD6EE 0%, #EAD6EE 18%, #A0F1EA 100%);
    background: linear-gradient(135deg, #EAD6EE 0%, #EAD6EE 18%, #A0F1EA 100%);

}

div#nombre{
    width: 90%;
    margin: 20px;
    padding: 20px;
    padding-right: 20px;
    font-family: 'Elephant', serif;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    border-bottom: 9px dotted #000000;
}

div#carrucel{
  font-family: 'Arial Black', serif;
  color: #808080;
}

div#postre{
    width: 95%;
    margin: 20px;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.30);
    background: #E1C699;
    background: -moz-radial-gradient(center, #E1C699 0%, #ECE2C6 50%, #E1C699 100%);
    background: -webkit-radial-gradient(center, #E1C699 0%, #ECE2C6 50%, #E1C699 100%);
    background: radial-gradient(ellipse at center, #E1C699 0%, #ECE2C6 50%, #E1C699 100%);
    transition: 0.3s;
    box-shadow: 9px 9px 22px 6px rgba(53,0,99,0.58); 
}

div#postre:hover{
  width: 100%;
  transition: 0.4s;
}

div#nombreR{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Lucida Handwriting', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

div#contenido {
  display: grid;
  grid-template-columns: 45% 55%;
}

div#foto{
    margin: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

div#descripcion{
    text-align: center;
    font-weight: 700;
}

div#dos{
  text-align: justify;
}
div#ingredientes{
  padding: 5px;
  text-align: justify;
}

div#procedimiento{
    padding: 5px;
    text-align: justify;
}

* {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #e1c799ce;
    padding: 2px 16px;
    color: rgb(0, 0, 0);
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }